@{
    ViewData["Title"] =  @ViewBag.User.FirstName + "'s Account";
}
@model List<Activity>

<h1>Activity Center</h1>
<h5> Welcome, @ViewBag.User.FirstName!</h5>
<a href="/logout">Logout</a> 

<hr>
<table class="Wedding-Table">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date & Time</th>
            <th>Duration</th>
            <th>Event Coordinator</th>
            <th>Number of Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var activity in Model)
            {
                <tr>
                    <td>
                        <a href="/activity/@activity.ActivityId">@activity.Title</a>
                    </td>
                    <td>@activity.Date.ToString("MMM dd yyyy") at @activity.Time</td>
                    <td>@activity.Duration</td>
                    <td>@activity.Coordinator.FirstName @activity.Coordinator.LastName</td>
                    <td>@activity.JoinActivities.Count</td>
                    @{
                        if(@activity.UserId == ViewBag.User.UserId)
                        {
                            <td>
                                <a href="delete/@activity.ActivityId">Delete</a>
                            </td>
                        }
                        else if(@activity.JoinActivities.Where(j => j.UserId == ViewBag.User.UserId).FirstOrDefault() == null)
                        {
                            <td>
                            <a href="join/@activity.ActivityId">Join</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="leave/@activity.ActivityId/">Leave</a>
                            </td>
                        }
                    }
                </tr>
            }
    </tbody>
</table>
<form action="/New" method="get">
    <button type="submit">Add New Activity! </button>
</form>

